:root {
    --gold: #B28756;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}


/* Header */


.container {
    display: flex;
    width: 1140px;
}
header {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 100px;
    color: #FFF;
}
.logo {
    display: flex;
    align-items: center;
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--gold);
    border-radius: 40px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.menu :is(ul,li) {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
    font-size: 13px;
}
.menu li a:hover {
    border-bottom: 5px solid var(--gold);
    color: #CCC;
}


/* Banner */

.banner {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 100px);
}
.slide {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #FFF;
    text-align: center;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(1.4375rem, 0.8505rem + 2.9348vw, 3.125rem);
    
}
.banner h1 span {
    color: var(--gold);
    margin-bottom: 5px;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: clamp(0.3125rem, -0.0136rem + 1.6304vw, 1.25rem);
    font-size: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5rem);
}
.banner-h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 100px;
    line-break: strict;
}
.button {
    display: inline-block;
    background-color: var(--gold);
    border: none;
    color: #FFF;
    padding: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem) 0;
    width: clamp(7.1875rem, 5.4484rem + 8.6957vw, 12.1875rem);
    font-size: clamp(0.625rem, 0.5815rem + 0.2174vw, 0.75rem);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.button:hover {
    transform: scale(1.06);
}
.banner .sliderpointer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 20px;
}
.banner .pointer {
    width: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    height: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    border: solid clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem) var(--gold);
    border-radius: 10px;
    margin: 0px clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
    cursor: pointer;
}
.banner .active {
    background-color: var(--gold);
}


/* Section */


.default .container {
    flex-direction: column;
}
.default {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}
.sTitle, .sDesc {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.sTitle {
    font-size: clamp(1.1875rem, 0.9484rem + 1.1957vw, 1.875rem);
    font-weight: 700;
}
.sDesc {
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    color: #AAA;
    margin: 8px 20px 40px;
}
.light {
    background-color: #f7f7f7;
}
.f2 {
    background-color: #f2f2f2;
}
.fa{
    background-color: #fafafa;
}
.light :is(.sTitle, .sBody ) {
    color: #000;
}
.dark {
    background-color: #000;
}
.dark :is(.sTitle, .sBody ) {
    color: #ededed;
}
.img {
    transition: all .3s ease;
}
.img:hover {
    transform: scale(1.04);
}













/* Áreas específicas */

.sAboutus {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sAboutus-left {
    flex: 1;
}
.sAboutus-left p {
    font-size: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
    line-height: clamp(1.3125rem, 1.2255rem + 0.4348vw, 1.5625rem);
    padding: 0 clamp(0rem, 10.119rem + -38.0952vw, 2.5rem);
    font-weight: 500;
}
.sAboutus-right {
    width: clamp(21.875rem, 18.1793rem + 18.4783vw, 32.5rem);
    text-align: center;
}
.sAboutus-right img {
    width: clamp(17.5rem, 13.8043rem + 18.4783vw, 28.125rem);
    box-shadow: 0px 10px 20px #666;
}


.sServices {
    display: flex;
    flex-wrap: wrap;
}
.sServices img {
    width: 60px;
    height: 60px;
}
.sService {
    flex: 1;
    text-align: center;
    border-right: clamp(0rem, -47.375rem + 100vw, 0.125rem) solid #333;
    padding: 20px;
}
.sService:first-child {
    border-left: clamp(0rem, -47.375rem + 100vw, 0.125rem) solid #333;
}
.sService h4 {
    margin-top: 30px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
}
.sService p {
    margin-top: 5px;
    font-size: 13px;
    color: #999;
    line-height: 20px;
}








.sProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sProjects-filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 25px;
    display: inline-block;
    padding: 0 clamp(0.3125rem, -0.231rem + 2.7174vw, 1.875rem);
}
.sProjects-filters ul, li {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
.sProjects-filters li {
    text-transform: uppercase;
    display: inline-block;
    padding: clamp(0.3125rem, -0.0136rem + 1.6304vw, 1.25rem) clamp(0.3125rem, -0.1223rem + 2.1739vw, 1.5625rem) clamp(0.3125rem, 0.0951rem + 1.087vw, 0.9375rem) clamp(0.3125rem, -0.0136rem + 1.6304vw, 1.25rem);
    font-size: clamp(0.5625rem, 0.4538rem + 0.5435vw, 0.875rem);
    border-right: 1px solid #CCC;
    border-bottom: clamp(0.125rem, 0.0598rem + 0.3261vw, 0.3125rem) solid transparent;
    cursor: pointer;
}
.sProjects-filters p {
    transition: all .3s ease-in-out;
}
.sProjects-filters li:last-child {
    border-right: none;
}
.sProjects-filters li:hover {
    border-bottom: clamp(0.125rem, 0.0598rem + 0.3261vw, 0.3125rem) solid var(--gold);
}
.sProjects-filters li:hover p {
    transform: translateY(-6px);
}






.sProjects-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    max-width: fit-content;
    margin-top: 20px;
    
}
.sProjects-photo {
    width: 280px;
}
.sProjects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}
.sProjects-photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.sProjects-photoinfo h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #ededed;
}
.sProjects-photoinfo p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    color: #DDD;
}
.sProjects-photoarea img {
    width: inherit;
    height: inherit;
}
.sProjects-photoarea:hover .sProjects-photoinfo {
    display: flex;
}





.bgteam {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0px;
    display: flex;
}
.teamarea {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
    width: 100vw;
}
.sTeam-workers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.worker {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 350px;
    height: 440px;
    margin: clamp(0rem, 0.4212rem + -0.5435vw, 0.3125rem) 15px;
    color: #000;
    border-radius: 4px;
}
.workertitle {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    color: #333;
}
.workerdesc {
    color: #333;
    margin-top: 5px;
    font-size: 14px;
}
.worker-social {
    display: flex;
    margin-top: 35px;
}
.worker-social a {
    background-color: #BBB;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 18px;
    margin: 0 3px;
    transition: .3s all ease;
}
.worker-social a:hover {
    transform: scale(1.2);
    background-color: var(--gold);
}
.sTeam .sliderpointer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}
.sTeam .pointer {
    width: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    height: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    border: solid clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem) var(--gold);
    border-radius: 10px;
    margin: 0px clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
    cursor: pointer;
}
.sTeam .active {
    background-color: var(--gold);
}







.sClients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: clamp(0rem, -0.6522rem + 3.2609vw, 1.875rem);
}
.clientsimg1 {
    width: clamp(7.1875rem, 6.4266rem + 3.8043vw, 9.375rem);
}
.clientsimg2 {
    width: clamp(1.375rem, 1.3098rem + 0.3261vw, 1.5625rem);
}
.clienttitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: clamp(1.1875rem, 1.0788rem + 0.5435vw, 1.5rem);
}
.clientdesc {
    font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
    font-weight: 600;
    margin: 3px 0 clamp(1.25rem, 1.0326rem + 1.087vw, 1.875rem);
}
.sClients p {
    margin-top: clamp(0.625rem, 0.5163rem + 0.5435vw, 0.9375rem);
    padding: 0 clamp(1.25rem, -2.2283rem + 17.3913vw, 11.25rem);
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    line-height: clamp(1.3125rem, 1.2255rem + 0.4348vw, 1.5625rem);
    color: #999;
    font-weight: 600;
}
.sClients .sliderpointer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}
.sClients .pointer {
    width: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    height: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    border: solid clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem) var(--gold);
    border-radius: 10px;
    margin: 0px clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
    cursor: pointer;
}
.sClients .active {
    background-color: var(--gold);
}








.marks {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    border-top: 3px solid #d7d7d7;
    border-bottom: 3px solid #d7d7d7;
    padding: 45px 0;
}
.mark {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mark img {
    object-fit: contain;
}








.sPlans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.plans {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    text-align: center;
    width: 255px;
    padding: 30px;
    border-radius: 4px;
    margin: clamp(0rem, 0.4212rem + -0.5435vw, 0.3125rem);
}
.planstitle {
    font-weight: 600;
    font-size: 14px;
    color: #2f2f2f;
}
.plansprice {
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
}
.plansmonth {
    font-size: 10px;
    color: #979797;
    margin-bottom: 20px;
}
.plansdata {
    font-size: 11px;
    font-weight: 700px;
}
.plans button {
    display: inline-block;
    background-color: #373737;
    border: none;
    color: #FFF;
    padding: 15px 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0 5px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.plans button:hover {
    transform: scale(1.06);
    background-color: var(--gold);
}








.whiter {
    background-color: #FFF;
    border-top: 2px solid #d7d7d7;
}
.sPremium {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #eee;
    padding-bottom: 30px;
}
.premium-features {
    margin-top: 20px;
}
.premium-feature {
    display: flex;
    margin-bottom: 20px;
    width:500px ;
}
.premium-feature span {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #242424;
    line-height: 30px;
}
.premium-feature p {
    font-size: 14px;
    line-height: 25px;
    color: #9e9e9e;
}
.premium-check {
    margin-right: 30px;
}
.premium-books {
    align-self: baseline;
    margin-right: 70px;
}
.premium-desc p:nth-child(3) {
    margin-top: 5px;
}
.sP .sliderpointer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}
.sP .pointer {
    width: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    height: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
    border: solid clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem) var(--gold);
    border-radius: 10px;
    margin: 0px clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
    cursor: pointer;
}
.sP .active {
    background-color: var(--gold);
}
.sPbutton {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}









.sFacts {
    display: flex;
    flex-wrap: wrap;
}
.sFact {
    flex: 1;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sFact h2 {
    color: var(--gold);
    font-size: 49px;
    font-weight: 700;

}
.sFact h4 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 39px;
    margin-bottom: 10px;
    height: 50px;
}
.sFact p {
    font-size: 13px;
    color: #999;
    line-height: 20px;
}
.fact-line {
    height: 4px;
    width: 20px;
    background-color: #7e7e7e;
    margin: 4px 0 5px;
    border-radius: 2px;
}








.tellabout {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    border-bottom: 2px solid #d7d7d7;
    padding: 20px 0;
}
.tell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tell div {
    display: flex;
    align-items: center;
}
.tell-legend {
    margin-bottom: clamp(0rem, 3.9375rem + -10vw, 1.25rem);
}
.tell-legend h4 {
    color: #b9b9b9;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 clamp(0rem, -1.9907rem + 7.4074vw, 3.75rem) 0 15px;
}
.tell-item {
    margin-right: clamp(1.25rem, -1.4375rem + 10vw, 2.5rem);
}
.tell-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 18px;
}
.tell-item img {
    object-fit: contain;
}
.tell-item:last-child {
    margin-right: 0;
}
.tell-item p {
    color: #b9b9b9;
    font-size: 10px;
    font-weight: 700;
    margin-left: 5px;
}
.telltt {
    background-color: #34c5f0;
}
.telllk {
    background-color: #127cb4;
}
.tellfc {
    background-color: #336296;
}
.tellgp {
    background-color: #e84136;
}
.tellpt {
    background-color: #ba1b28;
}









.sContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
}
.sContact input {
    background-color: #fafafa;
    border: 0;
    outline: 0;
    border-bottom: clamp(0.125rem, 0.0139rem + 0.5556vw, 0.1875rem) solid #b7b7b7;
    flex: 1;
    min-width: 270px;
    margin: 15px clamp(0.9375rem, 2.6736rem + -5.5556vw, 1.5625rem) 4px;
    padding: 24px 0 clamp(0.625rem, 0.2917rem + 1.6667vw, 0.8125rem);
    color: #b7b7b7;
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
}
.sInput{
    display: flex;
    flex-wrap: wrap;
}
.sInput input::placeholder {
    color: #b7b7b7;
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    font-weight: 700;
    transition: all .5s ease-in-out;
}
.sInput input:focus::placeholder{
    transform: translateY(-24px);
}
.sInput:last-child {
    margin-bottom: 10px;
    margin-top: clamp(0rem, -1.087rem + 5.4348vw, 3.125rem);
}
.contactcont .sDesc {
    margin-bottom: 20px;
}







.map {
    background-image: url("../images/mapa2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0rem, -1.9075rem + 6.4935vw, 3.125rem) 0 clamp(3.125rem, 15.7609rem + -16.3043vw, 12.5rem);
}
.sMap-info {
    background-color: #FFF;
    color: #303030;
    font-size: clamp(0.625rem, 0.5815rem + 0.2174vw, 0.75rem);
    margin-left: clamp(0rem, -0.4889rem + 1.8405vw, 0.9375rem);
    padding: 45px clamp(0rem, -4.1964rem + 14.2857vw, 6.875rem) clamp(1.5625rem, 1.019rem + 2.7174vw, 3.125rem) clamp(0rem, -0.4348rem + 2.1739vw, 1.25rem);
    min-width: clamp(20rem, 0rem + 100vw, 29.375rem);
}
.sMap-item {
    padding: 7px;
    display: flex;
    align-items: center;
}
.sMap-item a {
    text-decoration: none;
    color: #c48130;
}
.sMap-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: clamp(1.75rem, 1.6196rem + 0.6522vw, 2.125rem);
    height: clamp(1.75rem, 1.6196rem + 0.6522vw, 2.125rem);
    border-radius: 18px;
    background-color: #a8a8a8;
    margin: 0 clamp(0.625rem, 0.5163rem + 0.5435vw, 0.9375rem);
}
.sMap-img img {
    object-fit: contain;
    width: clamp(0.9375rem, 0.8071rem + 0.6522vw, 1.3125rem);
    height: clamp(0.9375rem, 0.8071rem + 0.6522vw, 1.3125rem);
}






footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer {
    padding: clamp(0.9375rem, 0.6114rem + 1.6304vw, 1.875rem) clamp(0.9375rem, 1.8056rem + -2.7778vw, 1.25rem);
    display: flex;
    justify-content: center;
    gap: clamp(1.875rem, 2.7431rem + -2.7778vw, 2.1875rem);
    flex-wrap: wrap;
}
.footer div {
    display: flex;
    flex: 1;
}
.fItem-1 a {
    background-color: #363636;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 18px;
    margin: 0 3px;
    transition: .3s all ease;
}
.fItem-1 a:first-child {
    margin-left: 0;
}
.fItem-1 a:last-child {
    margin-right: 0;
}
.fItem-1 a:hover {
    transform: scale(1.2);
    background-color: var(--gold);
}
.fItem-2 {
    color:#707070;
    font-size: clamp(0.625rem, 0.2917rem + 1.6667vw, 0.8125rem);
    line-height: clamp(1.0625rem, 0.7292rem + 1.6667vw, 1.25rem);
    font-weight: 600;
    min-width: 280px;
}
.fItem-3 {
    flex-direction: column;
    background-color: #363636;
    max-height: 200px;
    max-width: 350px;
    border-radius: clamp(0.125rem, 0.0495rem + 0.3774vw, 0.25rem);
}
.fItem-3 form{
    text-align: center;
    padding: clamp(0rem, -2.7778rem + 13.8889vw, 1.5625rem) clamp(3.75rem, 3.1944rem + 2.7778vw, 4.0625rem) clamp(1.5625rem, -1.2153rem + 13.8889vw, 3.125rem);
}
.fItem-3 input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: clamp(0.0625rem, 0.0248rem + 0.1887vw, 0.125rem) solid #aeaeae;
    color: #b7b7b7;
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    padding: clamp(1.5rem, 2.4266rem + -1.1957vw, 2.1875rem) 0 clamp(0.625rem, 0.5598rem + 0.3261vw, 0.8125rem);
    width: 100%;
}
.fItem-3 input::placeholder {
    color: #919191;
    font-size: clamp(0.6875rem, 0.6223rem + 0.3261vw, 0.875rem);
    font-weight: 700;
    transition: all .5s ease-in-out;
    text-align: center;
}
.fItem-3 input:focus::placeholder{
    transform: translateY(-24px);
}












@media (max-width:760px) {

    .worker:nth-child(1) {
        display: none;
    }
    .worker:nth-child(3) {
        display: none;
    }
    .projectsimg {
        display: none;
    }
}
@media (max-width:500px) {
    .fItem-1 {
        justify-content: center;
    }
    .fItem-3 {
        order: -1;
    }

}
@media (max-width:400px) {
    .tellabout {
        padding-top: 10px;
    }
    .tell {
        gap: 15px;
    }
    .tell-legend {
        margin: 0;
    }
    .tell-legend img {
        display: none;
    }
    .tell-legend h4 {
        margin: 0 10px;
        font-size: 11px;
    }
    .tell-items {
        margin: 0 45px;
        gap: 12px;
    }
    .tell-item {
        flex-direction: column;
        gap: 5px;
        margin: 0;
    }
    .tell-item p {
        margin: 0;
        font-size: 8px;
    }
    .tell-item a {
        height: 27px;
        width: 27px;
    }
    .tell-item img {
        height: 12px;
        width: 12px;
    }

}
